<div class="pull-right">
  <%= link_to("添加群组", new_group_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-bordered">
  <% @groups.each do |group| %>
  <tr>
    <td>
      <%= link_to(group.title, group_path(group)) %>
    </td>
    <td>
      <%= link_to("编辑群组", edit_group_path(group)) %> |
      <%= link_to("删除群组", group_path(group), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= group.created_at %>
    </td>
  </tr>
  <% end %>
</table>
