<h1> <%= @post.title %> </h1>
<td>
<% if current_user && current_user == @post.user %>
  <%= link_to('编辑', edit_admin_group_post_path(@post.group, @post), class: "btn btn-default btn-xs") %>
  <%= link_to('删除', admin_group_post_path(@post.group, @post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %>
<% end %>  
</td>

<p>

  <table class="table">
    <thead>
     <tr>
        <th>O:客观事实</th>
        <th>R:情绪描述</th>
        <th>I:领悟收获</th>
        <th>D:下一步打算</th>
      </tr>
    </thead>
    <tbody>
          <td><%= simple_format(@post.content) %></td>
          <td><%= simple_format(@post.content2) %></td>
          <td><%= simple_format(@post.content3) %></td>
          <td><%= simple_format(@post.content4) %></td>
    </tbody>
  </table>
</p>
