<h3> 写 <%= @group.title %> 的ORID</h3>

<hr>

<%= simple_form_for [@group, @post] do |f| %>
  <%= f.input :title, :label => "ORID标题" %>
  <%= f.input :content, :label => "ORID内容" %>
  <%= f.input :content2, :label => "ORID内容" %>
  <%= f.input :content3, :label => "ORID内容" %>
  <%= f.submit "提交" %>
<% end %>
